<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>ekartkówka</title>
</head>
<body>
    <h1>Błąd!</h1>
    <hr>
    <span style="font-family: monospace;"><%= errorText %></span>
    <hr>
    <input class="submitbutton center" type="button" class="submitbutton" value="powrót na stronę główną" onclick="window.location.href = '/';">
</body>
</html>