<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>ekartkówka</title>
</head>
<body>
    <h1>ekartkówka</h1>
    <ul>
    <% tests.forEach(function(test, index){%>
    <li>
        <a href="/test/<%= index %>/">
            <%= test.name %>
            (<%= test.questions.length %> pytań)
        </a>
    </li>
    <% }) %>
</body>
</html>