<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title><%= test.name %></title>
</head>
<body>
    <h1><%= test.name %></h1>
    <span class="center" style="font-size: large;">
        <%= test.questions.length %> pytań
    </span>
    <br>
    <div class="center">
        <input class="submitbutton" type="button" class="submitbutton" value="rozpocznij test" onclick="window.location.href = 'main/';">
        lub
        <form action="resultsfromcode" method="get">
            <input type="text" name="code" placeholder="kod odpowiedzi" required>
            <input type="submit" value="pokaż odpowiedzi z kodu">
        </form>
    </div>
</body>
</html>